[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "comparator"]
	path = comparator
	url = https://github.com/ngmarchant/comparator
	shallow = true
	registered = true
